
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 !important;
    height: 100vh !important;
    overflow: auto;
    background-color: rgb(23, 139, 172) !important;  
}

#noLogueado {
    background: red;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}

form input {
    cursor: pointer;
    display: flex;
    height: 40px;
}


#container{
    min-height: 100vh !important;
    height: auto;
    position: relative;
    overflow: auto;
    padding-bottom: 30px;
}

.homeContainer {
    position: relative;
    min-height: 100vh;
    height: auto;
}



#header{
    padding: 0px;
    height: 150px;
    margin-top: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

#header nav {
   margin: 0px;
   padding: 10px;
   text-align: end;
}

#title{
    text-align: center;
    color:rgba(243, 243, 243, 0.445);
}

#actionsContainer {
    padding: 10px;
    margin-bottom: 50px;
}

#actionsContainer H4 {
    color: white;
    margin: 15px 20px 15px 5px;
}

#actionsContainer .opcion {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0.171);
    border-radius: 5px;
    background-color: rgba(226, 223, 223, 0.301);
    color: #f8f8f8;
    max-width: 400px;
    margin-right : 10px;
    width: 160px !important;
}
#pass{
    display: flex;
    width: 90%;
}

#actionsContainer .opcion:hover {
    background-color: rgba(226, 223, 223, 0.61);
    transition-duration: 0.3s;
}

#nombre{
    display: flex;
    width: 90%;
}
#botonsubmit{
    display: flex;
    width: 90%;
    justify-content: center;
}
#mapid{
    width: 100%;
    height: 600px;
    border-radius: 5px;
}


#usuario {
    font-size: 18px;
    color: rgba(253, 253, 253, 0.781);
    padding: 8px;
    border-radius: 50%;
    font-family: 'Pacifico', cursive !important;
    letter-spacing: 2px;
    margin-right: 10px;
}















