* {
    padding: 0;
    margin: 0;
}

body {
    /*margin: 0 !important;
    height: auto;
    overflow: auto;*/
    background-color: rgb(23, 139, 172) !important;  
    padding: 0 !important;
}

#noLogueado {
    background: red;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}

form input {
    cursor: pointer;
    display: flex;
    height: 40px;
}

#container{
    min-height: 100% !important;
    height: auto;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.homeContainer {
    height: auto;
}

#header{
    padding: 0px;
    height: 200px;
    padding-top: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#header nav {
   padding: 0px !important;
   text-align: end;
}

#title{
    text-align: center;
    color:rgba(243, 243, 243, 0.445);
    cursor: pointer;
}

#menu_1, #menu_2 {
    margin-bottom: 40px;
    margin-top: 10px;
    
    height: auto !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


#menu_1 .opcion, #menu_2 *, #toBack {
    padding: 5px;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0.171);
    border-radius: 5px;
    background-color: rgba(226, 223, 223, 0.301);
    color: #f8f8f8;
    max-width: 400px;
    margin-right : 10px;
    margin-top: 10px;
    width: 150px !important;
    cursor: pointer;
}

#menu_1 .opcion:hover, #menu_2 i:hover {
    background-color: rgba(226, 223, 223, 0.486);
    transition-duration: 0.3s;
}

#menu_2 {
    align-items: flex-end;
    
}

#menu_2 *:nth-child(1) {
    width: auto !important;
    padding: 10px;
    font-size: 19px !important;
    margin-top: 0 !important;
}

#menu_2 *:nth-child(2) {
    background-color: rgba(46, 46, 46, 0.219);
    color:rgb(172, 172, 172)
}

#pass{
    display: flex;
    width: 90%;
}

#nombre{
    display: flex;
    width: 90%;
}
#botonsubmit{
    display: flex;
    width: 90%;
    justify-content: center;
}
#mapid{
    width: 100%;
    height: 600px;
    border-radius: 5px;
}

#usuario {
    font-size: 18px;
    color: rgba(253, 253, 253, 0.781);
    padding: 8px;
    border-radius: 50%;
    font-family: 'Pacifico', cursive !important;
    letter-spacing: 2px;
    margin-right: 10px;
}

#toBack {
    width: 70px !important;
    opacity: 0.5;
    position: absolute;
    left: 4vw;
    top: 40px;
    transition-duration: 0.2s;
}

#toBack:hover {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.192) 8px 6px 5px -1.4px;
}

#logout {
    color:rgba(53, 52, 52, 0.87);
    font-size: 18px;
    opacity: 0.3;
}

#logout:hover {
    opacity: 1;
}

footer {
    margin-top: 100px !important;
}








