/*formulario para infracciones*/
.containerFormInfrs {
    height: 100vh !important;
    width: 100% !important;
   
}

.containerFormInfrs .formInfrs {
    height: 400px !important;
    min-width: 250px;
    max-width: 630px;
    width: 80vw !important;
    box-shadow: rgba(20, 20, 20, 0.466) -5px 20px 20px;

}



/*mostramos las infracciones*/
.containerInfracciones {
    background-color: #eeeeee !important;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    height: auto;
    padding-bottom: 10px;
}

.infraccion {
    border:1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
    background-color: #f8f8f8 !important;
    margin-bottom: 19px;
}

.infraccion:hover {
    box-shadow: rgba(112, 112, 112, 0.555) 0px 7px 10px;
}

.containerInfracciones .infraccion p {
    margin: 0;
    font-size: 14px;
}

.containerInfracciones .infraccion p strong {
    margin-right: 5px;
    color: rgb(53, 52, 52);
}


#patenteSelecionada {
    background-color: rgb(241, 241, 241);
    color: rgb(49, 49, 49);
    padding: 0 10PX;
    margin-bottom: 30px !important;
}

#patenteSelecionada::placeholder {
    font-weight: 100;
    color: rgb(134, 134, 134);
}




































